<div class="page-header">
  <h1>お問い合わせ</h1>
</div>

<%= form_for @notification, :url => notification_send_mail_user_path do |f| %>
  <table class="table">
    <tr>
      <th>宛先<span class="text-danger">（必須）</span></th>
      <td>
        <%= f.hidden_field :email %>
        <%= @notification.email %>
      </td>
    </tr>
    <tr>
      <th>題名<span class="text-danger">（必須）</span></th>
      <td>
        <%= f.hidden_field :subject %>
        <%= @notification.subject %>
      </td>
    </tr>
    <tr>
      <th>お知らせ内容<span class="text-danger">（必須）</span></th>
      <td>
        <%= f.hidden_field :message %>
        <%= @notification.message %>
      </td>
    </tr>
  </table>
  <%= f.submit '送信', name: 'send_mail', class: 'btn btn-primary' %>
  <%= f.submit '戻る', name: 'back', class: 'btn btn-primary' %>
<% end %>