<div class="container-fluid">
  <section>
    <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
      <h2 class="text-success text-center">ふじいけファームからのお知らせを送る（個別）</h2>

      <%= form_for @notification, :url => notification_confirm_mail_user_path do |f| %>
        <% if @notification.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <strong>入力内容にエラーがあります</strong>
            <ul>
              <% @notification.errors.each do |attr, msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <table class="table">
          <tr>
            <th style="width: 30%">
              宛先<span class="text-danger">（必須）</span>
            </th>
            <td class="form-group" style="width: 70%">
              <%= f.text_field :email, class: "form-control w-100 p-2 my-3" %>
            </rd>
          </tr>
          <tr>
            <th>
              題名<span class="text-danger">（必須）</span></span>
            </th>
            <td class="form-group">
              <%= f.text_field :subject, class: "form-control w-100 p-2 my-3" %>
            </rd>
          </tr>
          <tr>
            <th>
              お知らせ内容<span class="text-danger">（必須）</span>
            </th>
            <td class="form-group">
              <%= f.text_area :message, class: "form-control w-100 p-2 my-3", style: "height: 300px;" %>
            </rd>
          </tr>
        </table>
        <div class="mx-auto clearfix" , style="width: 200px;">
          <div class="m-3 float-left"><%= f.submit '確認', class: "btn btn-outline-secondary" %></div>
        </div>
      <% end %>
    </div>
  </section>
</div>
