<h1>販売履歴</h1>

<table class="mypage_table">
  <tr>
    <th>購入日</th>
    <th>お客様名</th>
    <th>商品名</th>
    <th>ステータス</th>
  </tr>
  <% @purchases.each do |purachase| %>
    <tr>
      <td><%= purachase.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= purachase.user.contact_name %></td>
      <td><%= purachase.item.name %></td>
      <td><%= purachase.status %> <%= link_to "変更", edit_purchase_history_path(purachase) %></td>
    </tr>
  <% end %>
</table>
<%= paginate @purchases %>
<%= link_to "戻る", admin_index_path %>