<div class="container-fluid">
  <section>
    <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
      <h2 class="text-success text-center mb-5">この商品を申し込みますか？</h2>
      <div class="clearfix">
        <div class="col-lg-4 float-left">
          <% if @item.images.present? %>
            <% @item.images.each do |photo| %>
              <div class="p-4"><%= attachment_image_tag photo, :file, :fit, 250, 250 %></div>
            <% end %>
          <% else %>
            <div class="p-4"><%= image_tag 'l_e_others_501.png', :size => "250" %></div>
          <% end %>
        </div>
        <div class="col-lg-8 p-5 float-left">
          <p class="h4"><%= @item.name %></p>
          <p class="h3 py-5 text-success text-center"><%= number_to_currency(@item.price, :precision => 0, :unit => '円') %></p>
        </div>
      </div>
    </div>

    <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
      <%= form_with(model: [@purchase.item, @purchase], url: item_purchase_histories_path, local: true) do |form| %>
        <div class="px-5">
          <p class="h3 py-3">配送先の設定</p>
          <div>
            <small>ご登録住所以外の住所に配送をご希望のお客様は以下の配送先住所をご入力ください。<br>
            ご指定が無い場合は空欄で構いません。</small>
          </div>
          <br>
          <table class="table">
            <tr>
              <th style="width: 30%">宛先</th>
              <td class="form-group" style="width: 70%">
                <%= form.text_field :delivery_name, class: "form-control w-100 p-2 my-3" %>
              </td>
            </tr>
            <tr>
              <th>郵便番号</th>
              <td class="form-group">
                <%= form.text_field :delivery_postal_code, class: "form-control w-100 p-2 my-3" %>
              </td>
            </tr>
            <tr>
              <th>住所</th>
              <td class="form-group">
                <%= form.text_field :delivery_address, class: "form-control w-100 p-2 my-3" %>
              </td>
            </tr>
          </table>
        </div>
        <%= form.hidden_field :status %>
        <div class="mx-auto clearfix" , style="width: 250px;">
          <div class="m-3 float-left"><%= form.submit '申し込む', class: "btn btn-outline-success" %></div>
          <div class="m-3 float-left"><%= link_to '戻る', item_path(@item), class: "btn btn-outline-success" %></div>
        </div>
      <% end %>
    </div>
  </section>
</div>