<h2>この商品を申し込みますか？</h2>

<div>
	※お申し込みの前に必ず<%= link_to "ご契約申込時の注意事項", notes_path %>をご確認ください。
</div>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<div>
  <% if @item.images.present? %>
    <% @item.images.each do |photo| %>
      <div class="left"><%= attachment_image_tag photo, :file, :fill, 200, 200 %></div>
    <% end %>
  <% else %>
    <div>Coming Soon....</div>
  <% end %>
</div>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@item.price, :precision => 0, :unit => '円') %>
</p>

<p>
  <strong>Content:</strong>
  <%= @item.content %>
</p>


<%= form_with(model: [@purchase.item, @purchase], url: purchase_histories_item_path, local: true) do |form| %>
	<%= form.hidden_field :status %>
	<p><%= form.submit '申し込む' %></p>
	<%= link_to "戻る", item_path(@item) %>
<% end %>