<h2>この商品を申し込みますか？</h2>

<div>
	※お申し込みの前に必ず<%= link_to "ご契約申込時の注意事項", notes_path %>をご確認ください。
</div>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<div>
  <% if @item.images.present? %>
    <% @item.images.each do |photo| %>
      <div class="left"><%= attachment_image_tag photo, :file, :fill, 200, 200 %></div>
    <% end %>
  <% else %>
    <div>Coming Soon....</div>
  <% end %>
</div>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@item.price, :precision => 0, :unit => '円') %>
</p>

<p>
  <strong>Content:</strong>
  <%= @item.content %>
</p>

<%= form_with(model: [@purchase.item, @purchase], url: item_purchase_histories_path, local: true) do |form| %>

  <div>
    <h2>配送先情報の設定</h2>
    <div>
      ご登録住所以外の住所に配送をご希望のお客様は以下の配送先住所をご入力ください。<br>
      ご指定が無い場合は空欄で構いません。
    </div>
    <br>
    <div class="field">
      <%= form.label '配送先氏名（宛名）' %><br />
      <%= form.text_field :delivery_name, autofocus: true %>
    </div>
    <div class="field">
      <%= form.label '配送先住所' %><br />
      <%= form.text_field :delivery_postal_code, placeholder: "郵便番号", autofocus: true %>
      <%= form.text_field :delivery_address, placeholder: "住所", autofocus: true %>
    </div>
  </div>

	<%= form.hidden_field :status %>
	<p><%= form.submit '申し込む' %></p>
	<%= link_to "戻る", item_path(@item) %>
<% end %>