<h1>マイページ</h1>

<h2>プロフィール</h2>

<table class="mypage_table">
  <tr>
    <th>ユーザー名</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>氏名</th>
    <td><%= @user.contact_name %></td>
  </tr>
    <tr>
    <th>住所</th>
    <td>〒<%= @user.contact_postal_code %> <%= @user.contact_address %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td>
      <%= @user.email %>
      <% if current_user.admin? %>
        <%= link_to "連絡する", notification_make_mail_user_path(@user, email: @user.email) %></td>
      <% end %>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @user.phone %></td>
  </tr>
</table>

<div><%= link_to 'プロフィールの編集', edit_user_registration_path %></div>

<h2>購入履歴</h2>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>
<table class="mypage_table">
  <tr>
    <th>購入日</th>
    <th>商品名</th>
    <th>ステータス</th>
    <th>配送先指定</th>
  </tr>
  <% @user.purchase_histories.order("created_at DESC").each do |ph| %>
    <tr>
      <td><%= ph.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= ph.item.name %></td>
      <td>
        <%= ph.status_i18n %>
        <% if current_user.admin? %>
          <%= link_to "変更", edit_purchase_history_path(ph) %>
        <% end %>
      </td>
      <td>
        <% if ph.delivery_name.nil? && ph.delivery_postal_code.nil? && ph.delivery_address.nil? %>
          登録住所
        <% else %>
          <% if ph.delivery_name.present? %>
            <%= ph.delivery_name %>
          <% else %>
            <%= ph.user.contact_name %>
          <% end %>
          <% if ph.delivery_postal_code.present? %>
            <%= ph.delivery_postal_code %>
          <% else %>
            <%= ph.user.contact_postal_code %>
          <% end %>
          <% if ph.delivery_address.present? %>
            <%= ph.delivery_address %>
          <% else %>
            <%= ph.user.contact_address %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<% if current_user.admin? %>
  <%= link_to "戻る", users_path %>
<% else %>
  <%= link_to "戻る", root_path %>
<% end %>