<div class="container-fluid">
  <section>
    <div class="offset-lg-3 col-lg-6 offset-md-1 col-md-10">
      <h2 class="text-success text-center mb-5">パスワード再設定用メールの送信</h2>

			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

        <div class="field">
          <%= f.email_field :email, placeholder: "メールアドレス", autofocus: true, class: "w-100 p-2 my-3" %>
        </div>

			  <div class="offset-3 col-6 py-5">
        <%= f.submit "メールを送信する", class: "btn btn-success btn-block btn-opacity my-3" %>
    		</div>	
			<% end %>

			<div class="my-5"><%= render "devise/shared/links" %></div>
		</div>
	</section>
</div>
