<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Content:</strong>
  <%= @item.content %>
</p>

<%= link_to '編集', edit_item_path(@item) %> |
<%= link_to '削除', @item, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to '戻る', items_path %>
