<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
	<% if user_signed_in? %>
		<%= link_to 'この商品を申し込む', item_purchase_histories_new_path(@item) %>
	<% end %>
</p>

<div>
  <% if @item.images.present? %>
    <% @item.images.each do |photo| %>
      <div class="left"><%= attachment_image_tag photo, :file, :fill, 200, 200 %></div>
    <% end %>
  <% else %>
    <div>Coming Soon....</div>
  <% end %>
</div>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@item.price, :precision => 0, :unit => '円') %>
</p>

<p>
  <strong>Content:</strong>
  <%= @item.content %>
</p>

<% if user_signed_in? && current_user.admin? %>
	<%= link_to '編集', edit_item_path(@item) %> |
	<%= link_to '削除', @item, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to '戻る', items_path %>
