<div class="container-fluid">
  <section>
    <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
      <h2 class="text-success text-center mb-5">お問い合わせ</h2>
      <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
        <% if @inquiry.errors.any? %>
          <div>
            <strong>入力内容にエラーがあります</strong>
            <ul>
              <% @inquiry.errors.each do |attr, msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <table class="table">
          <tr>
            <th style="width: 30%">
              お名前<span class="text-danger">（必須）</span>
            </th>
            <td class="form-group" style="width: 70%">
              <%= f.text_field :name, class: "form-control w-100 p-2 my-3" %>
            </td>
          </tr>
          <tr>
            <th>
              メールアドレス<span class="text-danger">（必須）</span></span>
            </th>
            <td class="form-group">
              <%= f.email_field :email, class: "form-control w-100 p-2 my-3" %>
            </td>
          </tr>
          <tr>
            <th>
              お問い合わせ内容<span class="text-danger">（必須）</span>
            </th>
            <td class="form-group">
              <%= f.text_area :content, class: "form-control w-100 p-2 my-3", style: "height: 300px;" %>
            </td>
          </tr>
        </table>
        <div class="mx-auto clearfix" , style="width: 200px;">
          <div class="m-3 float-left"><%= f.submit '確認', class: "btn btn-outline-success" %></div>
          <div class="m-3 float-left"><%= link_to '戻る', items_path, class: "btn btn-outline-success" %></div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>